/*Start CSS Reset Code*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}


/*End Reset Code*/

/*Full Page*/

:root {
    --darkgrey: #202020;
    --lightgrey: #ededed;
    --blue: #3158a7;
    --lightblue: #c4dcea;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.page-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

.sidebar {
    padding: 30px;
}

.header, .main-content {
    padding: 30px 80px;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: .9rem;
}

p {
    font-size: 1rem;
}

.header_bottomnav button:hover, .sidebar_nav li:hover, .card_icons img:hover, .annoucement:hover, .trending_item:hover, .header_topnav>*:hover, form>button>img:hover {
    opacity: .75;
}

/*Sidebar*/

.sidebar {
    background-color: var(--darkgrey);
    grid-column: 1/2;
    grid-row: 1/end;
    color: white;
    box-shadow: 5px 5px 5px rgba(121, 122, 126, 0.411);
}

.sidebar_section2 {
    padding-top: 25px;
}

.sidebar_header {
    display: grid;
    grid-template-columns: 60px 80px;
    gap: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.sidebar_header>* {
    align-self: center;
}

.sidebar_nav {
    padding-top: 15px;
}

.sidebar_nav li {
    margin-left: -20px;
    display: grid;
    grid-template-columns: 40px 80px;
    padding-bottom: 20px;
    align-items: center;
    justify-items: left;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}



/*Header*/

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
}

.search_container {
    justify-self: start;
}

.search_container form {
    display: flex;
    align-items: center;
}

.search_container input {
    width: 500px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: var(--lightblue);
}

.search_container button {
    background-color: transparent;
    border: none;
}

.search_container img {
    max-height: 30px;
}

.header_row1 {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.header_topnav {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    justify-self: right;
    justify-items: center;
    align-items: center;
}

.header_row2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.header_greeting {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}

.intro_text {
    font-weight: bold;
}

.intro_text h3 {
    font-size: 1.5em;
}

.header_bottomnav {
    justify-self: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.header_bottomnav button {
    width: 100px;
    background-color: var(--blue);
    border: none;
    padding: 10px 5px;
    border-radius: 30px;
}

.header_bottomnav button a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/*Main Content*/

.main-content {
    background-color: var(--lightgrey);
    grid-column: 2/end;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 421px 421px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / end;
}

.project_grid {
    display: grid;
    gap: 30px;
    padding-top: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project_card {
    background-color: white;
    width: 450px;
    padding: 15px;
    display: grid;
    border-left: 5px var(--blue) solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(121, 122, 126, 0.411);
}

.card_icons {
    max-width: 100px;
    display: grid;
    grid-template-columns: 25px 25px 25px;
    gap: 15px;
    justify-self: right;
    padding: 30px 0 10px 0;
}

.annoucement {
    padding-top: 20px;
    padding-bottom: 20px;

}

.annoucement:nth-child(2) {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.annoucements h4, .trending h4 {
    padding-bottom: 15px;
}

.annoucements_card, .trending_card {
    background-color: white;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    display: grid;
    box-shadow: 5px 5px 5px rgba(121, 122, 126, 0.411);
}

.annoucements_card h4 {
    padding-top: 15px;
}

.trending {
    align-self: end;
}

.trending_item {
    display: grid;
    grid-template-columns: 45px 150px;
    gap: 5px;
    padding: 15px 0;
}

.footer {
    margin-top: 15px;
}

.footer a {
    color: grey;
}